.footer {
  display: block;
  text-align: center;
}

.footer__copyright {
  padding-top: 4%;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  padding-bottom: 4%;
  font-size: 110%;
  font-weight: 400;
}
