@media only screen and (max-width: 768px) {
  .header__logo-image {
    max-width: 17px;
    max-height: 17px;
  }

  .header__logo-overtitle {
    max-width: 120px;
    max-height: 10px;
  }

  .header__title {
    margin: 0;
    padding-top: 7%;
    justify-self: center;
    text-align: center;
    font-weight: 900;
    line-height: 100%;
    font-size: 300%;
  }

  .header__subheading {
    text-align: center;
    line-height: 120%;
    font-size: 120%;
    font-weight: 210;
    max-width: 80%;
    padding-left: 9%;
    padding-bottom: 5px;
  }

  .intro__title {
    width: 800px;
    max-width: 80%;
    padding-top: 40px;
    padding-left: 15px;
    line-height: 200%;
    font-size: 140%;
    font-weight: 400;
  }

  .intro__subheading {
    width: 800px;
    max-width: 92%;
    padding-left: 15px;
    line-height: 135%;
    font-size: 150%;
    font-weight: 200;
  }

  .intro__reference {
    padding-left: 77%;
    font-size: 110%;
    font-weight: 400;
    padding-bottom: 2%;
  }

  .intro__text {
    max-width: 91%;
    font-size: 103%;
    line-height: 150%;
    font-weight: 150;
    padding-left: 15px;
  }

  .footer__copyright {
    padding-top: 4%;
    padding-bottom: 2%;
    font-size: 95%;
    font-weight: 480;
  }

  .photo__grid {
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    row-gap: 2%;
    padding-bottom: 50px;
  }

  .place__card {
    margin: 0px 45px 5px 45px;
    row-gap: 25px;
  }

  .place__card-title {
    line-height: 99%;
    font-size: 240%;
    font-weight: 600;
    padding-top: 96px;
  }

  .place__card-subtitle {
    line-height: 100%;
    padding-top: 85px;
    font-size: 100%;
  }

  .place__card-artist {
    font-size: 73%;
  }

  .place__card-info {
    margin-top: 2px;
    font-size: 90%;
    line-height: 24px;
  }

  .place__button {
    font-size: 95%;
    height: 38px;
    width: 230px;
  }
}

@media only screen and (max-width: 545px) {
  .photo__grid {
    margin: 15px;
    padding-bottom: 30px;
  }

  .place__card {
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
    padding: 8px;
  }

  .place__card-title {
    line-height: 90%;
    font-size: 240%;
    font-weight: 700;
  }

  .place__card-subtitle {
    line-height: 100%;
    padding-top: 8px;
    font-size: 100%;
    font-weight: lighter;
    letter-spacing: 2px;
  }

  .place__card-info {
    grid-column: 1;
    grid-row: 4;
    margin: 3px;
    font-size: 84%;
    line-height: 22px;
  }

  .place__card-image {
    width: 100%;
    max-width: 400px;
    max-height: 245px;
  }

  .place__button {
    font-size: 80%;
    height: 40px;
    width: 195px;
  }
}

@media only screen and (max-width: 320px) {
  .header__logo-image {
    max-width: 15px;
    max-height: 15px;
  }

  .header__logo-overtitle {
    max-width: 112px;
    max-height: 5px;
  }
  .header__title {
    justify-self: center;
    text-align: center;
    font-weight: 850;
    font-size: 130%;
  }

  .header__subheading {
    text-align: center;
    line-height: 120%;
    font-size: 12px;
    font-weight: 320;
    padding-left: 10%;
  }

  .intro__title {
    max-width: 80%;
    padding-top: 25px;
    padding-left: 15px;
    line-height: 200%;
    font-size: 95%;
  }

  .intro__subheading {
    max-width: 80%;
    padding-left: 15px;
    line-height: 115%;
    font-size: 22px;
  }

  .intro__reference {
    padding-left: 50%;
    font-size: 118%;
    font-weight: 380;
    padding-bottom: 2%;
  }

  .intro__text {
    max-width: 88%;
    font-size: 100%;
    line-height: 130%;
    font-weight: 130;
    padding-left: 15px;
  }

  .footer__copyright {
    font-size: 90%;
    font-weight: 480;
  }

  .photo__grid {
    justify-content: center;
    margin: 40px 5px 120px 5px;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1%;
  }

  .place__card {
    display: grid;
    grid-template-columns: 1fr;
    margin: 7px;
  }

  .place__card-title {
    line-height: 95%;
    font-size: 235%;
    font-weight: 800;
    padding-top: 25px;
  }

  .place__card-subtitle {
    line-height: 100%;
    padding-top: 10px;
    font-size: 80%;
    font-weight: lighter;
    letter-spacing: 2px;
  }

  .place__card-info {
    grid-column: 1;
    grid-row: 4;
    margin-top: 3px;
    font-size: 75%;
    line-height: 20px;
  }

  .place__button {
    font-size: 68%;
    height: 34px;
    width: 174px;
  }
}
