.grid__photo {
  padding-top: 8%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  column-gap: 2%;
  row-gap: 5%;
}

.grid__photo-image {
  width: 100%;
  max-width: 810px;
  margin: 0 auto;
}
