.intro {
  max-width: 1000px;
  margin: auto;
}

.intro__title {
  width: 800px;
  max-width: 100%;
  padding-top: 40px;
  font-family: "Inter-Bold", Arial, Helvetica, sans-serif;
  line-height: 200%;
  font-size: 180%;
  font-weight: 400;
}

.intro__subheading {
  width: 800px;
  max-width: 72%;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  line-height: 135%;
  font-size: 155%;
  font-weight: 180;
}

.intro__reference {
  padding-left: 55%;
  font-family: "Inter-Bold", Arial, Helvetica, sans-serif;
  font-size: 130%;
  font-weight: 350;
  padding-bottom: 2%;
}

.intro__text {
  max-width: 72%;
  font-size: 105%;
  line-height: 150%;
  font-weight: 130;
  font-family: "Inter", Arial, Helvetica, sans-serif;
}
