.place {
  display: grid;
}

.place__card {
  max-width: 980px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto 1fr;
  row-gap: 30px;
  column-gap: 40px;
  margin: 55px auto 10px auto;
}

.place__card-title {
  line-height: 78px;
  font-size: 90px;
  margin: 0;
  font-weight: 900;
  padding-top: 70px;
  font-family: "Inter-Bold";
  letter-spacing: 2px;
}

.place__card-subtitle {
  line-height: 110%;
  padding-top: 120px;
  font-size: 110%;
  font-weight: lighter;
  letter-spacing: 2px;
}

.place__card-artist {
  font-weight: 30;
  font-size: 75%;
  text-transform: uppercase;
  color: rgb(133, 131, 131);
  letter-spacing: 3px;
}

.place__card-image {
  width: 100%;
  max-width: 600px;
  max-height: 400px;
  justify-content: center;
  margin: auto;
  box-shadow: 11px 9px 10px black;
}

.place__card-info {
  grid-row: 2/4;
  grid-column: 2;
  font-size: 103%;
  line-height: 28px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  margin-top: 4px;
}

.place__button {
  background-image: linear-gradient(90deg, #0278fe 0%, #003a7b 99.98%);
  box-shadow: 5px 6px 7px black;
  color: white;
  font-size: 100%;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  line-height: 45px;
  font-family: "Inter";
  height: 48px;
  width: 240px;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.place__button:hover {
  background-image: linear-gradient(
    90deg,
    rgba(2, 120, 254, 0.25) 0%,
    rgba(0, 58, 123, 0.25) 99.98%
  );
}
